# Created by https://www.gitignore.io/api/eclipse,java,maven

src/main/content/jcr_root/apps/dynamic-imports-demo/clientlibs/clientlib-site
src/main/content/jcr_root/apps/dynamic-imports-demo/clientlibs/clientlib-dependencies
src/main/content/jcr_root/apps/dynamic-imports-demo/clientlibs/clientlib-dynamic-modules